@import url('normalize.css');

body {
  background-color: black;
  color: white;
  font-family: lores-9-plus-wide;
  font-weight: 700;
  text-transform: uppercase;
}

#app {
  width: 1920px;
  height: 1080px;
  display: grid;
  grid-template: 1fr / 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#building-template {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.connect {
  grid-row: 1;
  grid-column: 1;
  z-index: 999;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.connect__title {
  font-size: 5rem;
}

.connect__serialButton {
  padding: .8rem 1.2rem;
  background-color: white;
  border: none;
  color: black;
}

canvas {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  opacity: .95;
}

.hidden {
  display: none;
}